body {
    background-color: rgb(41, 151, 224);
}

#blocks {
    display: flex;
    justify-content: space-around;
    background-color: #dedede;
    padding: 10px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #ededed;
}
/** Dit mag je laten staan **/

#box1 {
    border-style: solid;
    border-width: 2px;
    border-color: #FFCC00;
    padding: 10px;
    margin: 5px;
    color: yellow;
    background-color: red;
}

#box2 {
    border-style: dotted;
    border-color: #000000;
    border-width: 10px;
    padding: 2px 0px;
    margin: 0px;
    color: white;
    background-color: #59C21D;
}

#box3 {
    border-style: dashed;
    border-width: 5px;
    border-color: #D4C9FF;
    padding: 0px 150px;
    margin: 33px 0px 22px;
    color: #E1FF38;
}